<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Prepare New Report</title>

  <!-- <link type = "text/css" href="static/css/bootstrap.css" rel="stylesheet" --> 
  <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.dataTables.css')}}" rel="stylesheet">
  <link type = "text/css" href="static/css/styles.css" rel="stylesheet">


</head>

<body style="padding-top: 70px;">
  {% include 'navbar.html' %}
  <div class="container">

  <div class="row">
     <div class="col-sm-6" id="left">
     <h3>Employees</h3>

     <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{progress}}%;">
    {{progress}}%
  </div>
</div>
<p>Recorded {{updatedemps|length }}/{{employees|length}}</p>  
{% if progress == 100 %}
<a  class="btn btn-primary" href="{{url_for('verifyentries')}}">
      Generate Report </a>
    {% endif %}
      <!-- <div class="list-group">
      {% for e in employees %}
      <a class="list-group-item" data-empid="{{e.id}}">{{e.name}}</a>
      {% endfor %}
      </div>
  </div>    -->

  <table id="empTable" class="table table-hover">
    <thead>
                <tr>
                  <th>ID</th>
                  
                  <th> Name </th>
                  <th >Department</th>
                  <th >Designation</th>
                  <th >Scheme</th>
                </tr>
    </thead>
    <tbody>
                 {% for emp in employees %}
                <a><tr data-empid="{{emp.id}}" class="{{'info' if emp.id in updatedemps }}">                
                <td>{{emp.empid}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.department}}</td>
                <td>{{emp.designation}}</td>
                <td>{{emp.scheme}}</td>                
                </tr>
                </a>
                {% endfor %}
    </tbody>
  </table>
  </div>


  <div class="col-sm-6" id="right">


     
  </div>

  </div>

  </div>
  <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.js')}}"></script>
  <script>

  $(document).ready(function(){
    $('#empTable').DataTable({paging:false});
    $('td').on('click', function(){
      var empid = $(this).closest('tr').data('empid');
      $('#right').load('/disbursementform/'  + empid)
      // alert('Clicked on empid - ' + empid);

    });
  })
  </script>

</body>
</html>
