<div class="panel panel-default">
  <div class="panel-body">
    <form id="form"  role="form" method="post" class="form form-horizontal">

    <div class="form-group">
          <label class="col-sm-3 control-label" >EMPLOYEE ID</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{employee.empid}}</p>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-3 control-label" >EMPLOYEE NAME</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{employee.name}}</p>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-3 control-label" >DEPARTMENT</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{employee.department}}</p>
            </div>
          </div>


          <div class="row">
          <div class="col-md-6">
          <!-- <legend>Credit</legend> -->
          <div class="form-group">
          <label class="col-sm-4 control-label" >PREMIUMS-CUT</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="premiums_cut" required value="{{slip.premiums_cut if hasslip else '0'}}">
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-4 control-label" >TELEPHONE</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="telephone" value="{{slip.telephone if hasslip else '0'}}" required>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-4 control-label" >TENANCY RENT</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="tenancy_rent" value="{{slip.tenancy_rent if hasslip else '0'}}" required>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-4 control-label" >CS LOAN</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="cs_loan" value="{{slip.cs_loan if hasslip else '0'}}" required>
            </div>
          </div>  
          <div class="form-group">
          <label class="col-sm-4 control-label" >CS CHITTY</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="cs_chitty" value="{{slip.cs_chitty if hasslip else '0'}}" required>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-4 control-label" >STAMP</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="stamp" value="{{slip.stamp if hasslip else '0'}}" required>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-4 control-label" >SEND OFF</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="send_off" value="{{slip.send_off if hasslip else '0'}}" required>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-4 control-label" >DTE JP</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="dte_jp" value="{{slip.dte_jp if hasslip else '0'}}" required>
            </div>
          </div>


          <div class="form-group">
          <label class="col-sm-4 control-label" >JN</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="jn" value="{{slip.jn if hasslip else '0'}}" required>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-4 control-label" >INDIAN BANK</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="indian_bank" value="{{slip.indian_bank if hasslip else '0'}}" required>
            </div>
          </div>


          <div class="form-group">
          <label class="col-sm-4 control-label" >PDC BANK</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="pdc_bank" value="{{slip.pdc_bank if hasslip else '0'}}" required>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-4 control-label" >KSFE</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="ksfe" value="{{slip.ksfe if hasslip else '0'}}" required>
            </div>
          </div>
          <div class="form-group">
          <label class="col-sm-4 control-label" >KSC BANK</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="ksc_bank" value="{{slip.ksc_bank if hasslip else '0'}}" required>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-4 control-label" >WELFARE FUND</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="welfare_fund" value="{{slip.ksc_bank if hasslip else '0'}}" required>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-4 control-label" >OTHER1</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="other1" value="{{slip.other1 if hasslip else '0'}}" required>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-4 control-label" >OTHER2</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="other2" value="{{slip.other2 if hasslip else '0'}}" required>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-4 control-label" >OTHER3</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" name="other3" value="{{slip.other3 if hasslip else '0'}}" required>
            </div>
          </div>


        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="empid" value="{{ employee.id }}">
        <input type="hidden" name="hasslip" value="{{ hasslip }}">
        <button type="submit" class="btn btn-success" id="submit-button">Update</button>
        </div> <!-- col -->
        </div> <!-- row -->
    </form>
  </div>
</div>