<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Salary slip</title>

  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  
</head>

<body style="padding-top: 70px;font-family:monospace;">
 <!-- <div class="container"> -->

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
  
      <h4 class="text-center">NSS COLLEGE OF ENGINEERING</h4>
      <h4 class="text-center">PALAKKAD</h4>
      <h4 class="text-center">SALARY SLIP</h4>
      <h4>{{employee.name}}</h4>
      <h4>Salary for the month {{month}}/{{year}}</h4>
      <hr/>
      <div class="row">
        <div class="col-xs-6">
          <table class="table table-condensed">
            <tr>
              <td>BASIC</td>
              <td class="text-right">{{slip.basic_pay}}</td>
            </tr>
            <tr>
              <td>AGP</td>
              <td class="text-right">{{slip.agp}}</td>
            </tr>
            <tr>
              <td>DA</td>
              <td class="text-right">{{slip.da}}</td>
            </tr>
            <tr>
              <td>HRA</td>
              <td class="text-right">{{slip.hra}}</td>
            </tr>
            <tr>
              <td>OTHER</td>
              <td class="text-right">{{slip.other}}</td>
            </tr>

            <tr >
              <td><strong>GROSS</strong></td>
              <td class="text-right"><strong>{{slip.other + slip.hra + slip.da + slip.agp + slip.basic_pay}}</strong></td>
            </tr>
          </table>
          </div>
          <div class="col-xs-6">
          <table class="table table-condensed">
            {% if slip.pf != 0 %}
            <tr>
              <td>PF</td>
              <td class="text-right">{{slip.pf}}</td>
            </tr>
            {% endif %}
            {% if slip.pf_loan != 0 %}
            <tr>
              <td>PF LOAN</td>
              <td class="text-right">{{slip.pf_loan}}</td>
            </tr>
            {% endif %}
            {% if slip.sli != 0 %}
            <tr>
              <td>SLI</td>
              <td class="text-right">{{slip.sli}}</td>
            </tr>
            {% endif %}
            {% if slip.fbs != 0 %}
            <tr>
              <td>FBS</td>
              <td class="text-right">{{slip.fbs}}</td>
            </tr>
            {% endif %}
            {% if slip.gis != 0 %}
            <tr>
              <td>GIS</td>
              <td class="text-right">{{slip.gis}}</td>
            </tr>
            {% endif %}
            {% if slip.income_tax != 0 %}
            <tr>
              <td>INCOME TAX</td>
              <td class="text-right">{{slip.income_tax}}</td>
            </tr>
            {% endif %}
            {% if slip.gpis != 0 %}
            <tr>
              <td>GPIS</td>
              <td class="text-right">{{slip.gpis}}</td>
            </tr>
            {% endif %}
            {% if slip.other2 != 0 %}
            <tr>
              <td>OTHER2</td>
              <td class="text-right">{{slip.other2}}</td>
            </tr>
            {% endif %}
            <!-- <tr><td colspan="2"><hr/></td></tr> -->

            <!-- DISBURSEMENTS: -->
            {% if disb.premiums_cut != 0 %}
            <tr>
              <td>PREMIUMS</td>
              <td class="text-right">{{disb.premiums_cut}}</td>
            </tr>
            {% endif %}
             {% if disb.telephone != 0 %}
            <tr>
              <td>TELEPHONE</td>
              <td class="text-right">{{disb.telephone}}</td>
            </tr>
            {% endif %}
            {% if disb.tenancy_rent != 0 %}
            <tr>
              <td>TENANCY RENT</td>
              <td class="text-right">{{disb.tenancy_rent}}</td>
            </tr>
            {% endif %}
            {% if disb.cs_loan != 0 %}
            <tr>
              <td>CS LOAN</td>
              <td class="text-right">{{disb.cs_loan}}</td>
            </tr>
            {% endif %}
            {% if disb.cs_chitty != 0 %}
            <tr>
              <td>CS CHITTY</td>
              <td class="text-right">{{disb.cs_chitty}}</td>
            </tr>
            {% endif %}
            {% if disb.stamp != 0 %}
            <tr>
              <td>STAMP</td>
              <td class="text-right">{{disb.stamp}}</td>
            </tr>
            {% endif %}
            {% if disb.send_off != 0 %}
            <tr>
              <td>SENDOFF</td>
              <td class="text-right">{{disb.send_off}}</td>
            </tr>
            {% endif %}
            {% if disb.welfare_fund != 0 %}
            <tr>
              <td>WELFARE FUND</td>
              <td class="text-right">{{disb.welfare_fund}}</td>
            </tr>
            {% endif %}
            {% if disb.dte_jp != 0 %}
            <tr>
              <td>DTE</td>
              <td class="text-right">{{disb.dte_jp}}</td>
            </tr>
            {% endif %}
            {% if disb.jn != 0 %}
            <tr>
              <td>JN</td>
              <td class="text-right">{{disb.jn}}</td>
            </tr>
            {% endif %}
            {% if disb.indian_bank != 0 %}
            <tr>
              <td>INDIAN BANK</td>
              <td class="text-right">{{disb.indian_bank}}</td>
            </tr>
            {% endif %}
            {% if disb.pdc_bank != 0 %}
            <tr>
              <td>PDC BANK</td>
              <td class="text-right">{{disb.pdc_bank}}</td>
            </tr>
            {% endif %}
            {% if disb.ksfe != 0 %}
            <tr>
              <td>KSFE</td>
              <td class="text-right">{{disb.ksfe}}</td>
            </tr>
            {% endif %}
            {% if disb.ksc_bank != 0 %}
            <tr>
              <td>KSC BANK</td>
              <td class="text-right">{{disb.ksc_bank}}</td>
            </tr>
            {% endif %}
            {% if disb.other1 != 0 %}
            <tr>
              <td>OTHER</td>
              <td class="text-right">{{disb.other1}}</td>
            </tr>
            {% endif %}
            {% if disb.other2 != 0 %}
            <tr>
              <td>OTHER</td>
              <td class="text-right">{{disb.other2}}</td>
            </tr>
            {% endif %}
            {% if disb.other3 != 0 %}
            <tr>
              <td>OTHER</td>
              <td class="text-right">{{disb.other3}}</td>
            </tr>
            {% endif %}
            <!-- <tr><td colspan="2"><hr/></td></tr> -->
            <tr>
              <td>Total Deductions</td>
              <td class="text-right">{{int(slip.other + slip.hra + slip.da + slip.agp + slip.basic_pay - disb.gross_salary)}}</td>
            </tr>
            <!-- <tr><td colspan="2"><hr/></td></tr> -->
            <tr>
              <td><strong>NET CASH</strong></td>
              <td class="text-right"><strong>{{disb.gross_salary}}</strong></td>
            </tr>
            </table>
          </div>

        </div>
      </div>

    </div>
  <!-- </div> -->
</div>
</body>
</html>
