<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> </title>

  <!-- <link type = "text/css" href="static/css/bootstrap.css" rel="stylesheet" --> 
  <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
  <link type = "text/css" href="static/css/bootstrap.css" rel="stylesheet">
   <link type = "text/css" href="static/css/handsontable.full.css" rel="stylesheet">

</head>

<body style="padding-top: 70px;">
 <div class="container">

  <div class="row">
    <div class="col-md-10 col-md-offset-1" id="emptable">



    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='js/handsontable.full.min.js')}}"></script>
<script>
  var
  objectData = jQuery.parseJSON('{{empjson|safe}}')
  ,
  container3 = document.getElementById('emptable'),
  hot3;

hot3 = new Handsontable(container3, {
  data: objectData,
  startRows: 5,
  startCols: 3,
  colHeaders: true,
  minSpareRows: 0,
  fillHandle: false
});

</script>
</body>
</html>
