<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> </title>

  <!-- <link type = "text/css" href="static/css/bootstrap.css" rel="stylesheet" --> 
  <link type = "text/css" href="static/css/bootswatch.css" rel="stylesheet">
  <link type = "text/css" href="static/css/styles.css" rel="stylesheet">
  <script src="static/js/jquery.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
	
</head>

<body style="padding-top: 70px;">
 <div class="container">

      <div class="row">

       <div class="col-md-8 col-md-offset-2">
         <h3>Leave Details</h3>

         <div class="panel panel-default">
          <div class="panel-body">
          <form id="form" role="form" method="post">
              <div class="form-group">
                <label for="userid">EMPLOYEE ID</label>
                <input type="text" class="form-control" name="empid" value="{{emp.empid}}" required>
              </div>
              <div class="form-group">
              <label for="userid">MONTH & YEAR</label>
                <div class="input-group">
                  <div class="input-group-addon">MONTH</div>
            		<select class="form-control" name = "month">
  					<option value="jan">January</option>
  					<option value="feb">February</option>
  					<option value="mar">March</option>
  					<option value="april">April</option>
  					<option value="may">May</option>
  					<option value="june">June</option>
  					<option value="july">July</option>
  					<option value="aug">August</option>
  					<option value="sept">September</option>
  					<option value="oct">October</option>
  					<option value="nov">November</option>
  					<option value="dec">December</option>
					</select>
				  <div class="input-group-addon">YEAR</div>
             	  <input type="text" class="form-control" name="year" placeholder="Enter year.(Eg: 2010)" required>
			   </div>
			 </div>
			 <div class="form-group">
                <label for="userid">HALF PAY LEAVE</label>
                <input type="text" class="form-control" name="empid" placeholder="Enter number of Half Pay leave." required>
              </div>
              <div class="form-group">
                <label for="userid">LEAVE WITHOUT ALLOWANCE</label>
                <input type="text" class="form-control" name="empid" placeholder="Enter number of LWA." required>
              </div>
               <button type="submit" class="btn btn-success" id="submit-button">Submit</button>
              <a id ="cancel-button" class="btn btn-warning" href="{{url_for('index')}}">
                  Cancel </a>
            </form>
