<div class="panel panel-default">
	<div class="panel-body">
		<form id="form"  role="form" method="post" class="form form-horizontal">

		<div class="form-group">
          <label class="col-sm-3 control-label" for="userid">EMPLOYEE ID</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{employee.id}}</p>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-3 control-label" for="userid">EMPLOYEE NAME</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{employee.name}}</p>
            </div>
          </div>

          <div class="form-group">
          <label class="col-sm-3 control-label" for="userid">DEPARTMENT</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{employee.department}}</p>
            </div>
          </div>

        

		</form>
	</div>
</div>