<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Prepare New Report</title>

  <!-- <link type = "text/css" href="static/css/bootstrap.css" rel="stylesheet" --> 
  <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
  <link type = "text/css" href="static/css/styles.css" rel="stylesheet">


</head>

<body style="padding-top: 70px;background:#ffffff;">
  {% include 'navbar.html' %}
  <div class="container">

    <div class="row">
      <div class="col-md-12"  style="position: fixed; left: 0; overflow:scroll;">
      <h4>Report for: {{period.month}} / {{period.year}}</h4>
      
      <table id="empTable" class="table table-hover table-bordered table-responsive" >
      <thead>
      <th colspan="3"><center>Personal Details</center></th>
      <th colspan="17"><center>Disbursements</center></th>

      </tr>
    
                <tr>
                  <th>ID</th>
                  <th> Name </th>
                  <th >Net Salary</th>
                  <th >PREMIUMS-CUT</th>
                  <th >TELEPHONE</th>
                  <th >TENANCY RENT</th>
                  <th >CS LOAN</th>
                  <th >CS CHITTY</th>
                  <th >STAMP</th>
                  <th >SEND OFF</th>
                  <th >WELFARE FUND</th>
                  <th >DTE JP</th>
                  <th >JN</th>
                  <th >INDIAN BANK</th>
                  <th >PDC BANK</th>
                  <th >KSFE</th>
                  <th >KSC BANK</th>
                  <th >OTHER1</th>
                  <th >OTHER2</th>
                  <th >OTHER3</th>
                  
                </tr>
    </thead>
    <tbody>
                 {% for slip in slips %}
                <tr>
                <td>{{slip.employee.empid}}</td>
                <td>{{slip.employee.name}}</td>
                <td>{{slip.net_salary}}</td>
                <td>{{slip.premiums_cut}}</td>
                <td>{{slip.telephone }}</td>
                <td>{{slip.tenancy_rent}}</td>
                <td>{{slip.cs_loan}}</td>
                <td>{{slip.cs_chitty}}</td>
                <td>{{slip.stamp}}</td>
                <td>{{slip.send_off}}</td>
                <td>{{slip.welfare_fund}}</td>
                <td>{{slip.dte_jp}}</td>
                <td>{{slip.jn}}</td>
                <td>{{slip.indian_bank}}</td>
                <td>{{slip.pdc_bank}}</td>
                <td>{{slip.ksfe}}</td>
                <td>{{slip.ksc_bank}}</td>

                <td>{{slip.other1}}</td>
                <td>{{slip.other2}}</td>
                <td>{{slip.other3}}</td>
                </tr>
                {% endfor %}
  </table>
  <form method="post" class="pull-right">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="verified" value="1">

        <button type="submit" class="btn btn-primary" id="submit-button">Verify & Print</button>
  </form>
        
        

      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
</body>
</html>
