<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Prepare New Report</title>

  <!-- <link type = "text/css" href="static/css/bootstrap.css" rel="stylesheet" --> 
  <link href="{{ url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">
  <link type = "text/css" href="static/css/styles.css" rel="stylesheet">


</head>

<body style="padding-top: 70px;background:#ffffff;">
  {% include 'navbar.html' %}
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <h4>Report for: {{period.month}} / {{period.year}}</h4>
      
      <table id="empTable" class="table table-hover table-bordered">
      <thead>
      <th colspan="3"><center>Personal Details</center></th>
      <th colspan="4"><center>Basic Salary</center></th>
      <th colspan="2"><center>Leave Details</center></th>
      <th colspan="8"><center>Spark Cuttings</center></th>
      </tr>
    
                <tr>
                  <th>ID</th>
                  <th> Name </th>
                  <th >Basic</th>
                  <th >AGP</th>
                  <th >DA</th>
                  <th >HRA</th>
                  <th >Other</th>
                  <th >LWA</th>
                  <th >HP Leave</th>
                  <th>PF</th>
                  <th>PF-Loan</th>
                  <th>SLI</th>
                  <th>FBS</th>
                  <th>GIS</th>
                  <th>IT</th>
                  <th>GPIS </th>
                  <th>OTHER</th>
                </tr>
    </thead>
    <tbody>
                 {% for slip in slips %}
                <tr>
                
                <td>{{slip.employee.empid}}</td>
                <td>{{slip.employee.name}}</td>
                <td>{{slip.basic_pay}}</td>
                <td>{{slip.agp}}</td>
                <td>{{slip.da}}</td>
                <td>{{slip.hra}}</td>
                <td>{{slip.other}}</td>
                <td>{{slip.lwa}}</td>
                <td>{{slip.halfpay}}</td>
                <td>{{slip.pf}}</td>
                <td>{{slip.pf_loan}}</td>
                <td>{{slip.sli}}</td>
                <td>{{slip.fbs}}</td>
                <td>{{slip.gis}}</td>
                <td>{{slip.income_tax}}</td>
                <td>{{slip.gpis}}</td>
                <td>{{slip.other2}}</td>
                
                </tr>
                {% endfor %}
  </table>
  <form method="post" class="pull-right">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="verified" value="1">

        <button type="submit" class="btn btn-primary" id="submit-button">Verify & Generate</button>
  </form>
        
        

      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
</body>
</html>
